[global_config]
  borderless = false
  disable_real_transparency = "True"
  enabled_plugins = CustomCommandsMenu, InactivityWatch, TestPlugin, ActivityWatch, TerminalShot, LaunchpadCodeURLHandler, APTURLHandler, MavenPluginURLHandler, LaunchpadBugURLHandler, LayoutManager

[keybindings]
  zoom_in = <Primary>equal
  zoom_out = <Primary>minus

[layouts]
  [[default]]
    [[[child1]]]
      position = 0:25
      parent = window0
      type = Terminal
      size = 1366, 708
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.60
    background_image = None
    background_type = solid
    cursor_shape = ibeam
    font = Droid Sans Mono for Powerline 12
    show_titlebar = true
    scrollback_infinite = True

